.container {
    // from Bootstrap
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;

    @media screen and (min-width: $break-sm) {
        width: 750px;
    }
    @media screen and (min-width: $break-md) {
        width: 970px;
    }
    @media screen and (min-width: $break-lg) {
        width: 1170px;
    }
}