.jumbo {
    text-align: center;
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &__inner {
        position: relative;
    }

    &__image {
        opacity: 0;
        animation: fadeIn;
        animation-fill-mode: forwards;
        animation-duration: 3s;
    }

    &__quote {
        opacity: 0;
        font-size: 1.2em;
        font-weight: bold;
        font-style: italic;
        position: absolute;
        text-align: left;
        z-index: 100;

        // Instances of Quotes
        &--1 { 
            animation: fadeInLeft;
            animation-fill-mode: forwards;
            animation-duration: 2s;
            top: 0;
            left: 0;
            animation-delay: 1s;
        }
        &--2 { 
            animation: fadeInRight;
            animation-fill-mode: forwards;
            animation-duration: 2s;
            top: 0;
            right: 0;
            animation-delay: 2s; 
        }
        &--3 { 
            animation: fadeInLeft;
            animation-fill-mode: forwards;
            animation-duration: 2s;
            bottom: 0;
            left: 0;
            animation-delay: 3s;
        }
    }

    &__footer {
        display: flex;
        justify-content: center;

        img {
            position: absolute;
        }
    }

    &__cta {
        cursor: pointer;
        width: 175px;
        height: 100px;
        bottom: 0;
    }

    &__logo {
        right: 25px;
        bottom: 25px;
        height: 35px;
    }


}