.intro {
    text-align: center;
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &__inner {
        position: relative;
    }

    &__image {
        opacity: 0;
        animation: fadeIn;
        animation-fill-mode: forwards;
        animation-duration: 3s;
    }

    &__quote {
        opacity: 0;
        font-size: 1.2em;
        font-weight: bold;
        font-style: italic;
        position: absolute;
        text-align: left;
        z-index: 100;

        // Instances of Quotes
        &--1 { 
            animation: fadeInLeft;
            animation-fill-mode: forwards;
            animation-duration: 2s;
            top: 0;
            left: 0;
            animation-delay: 1s;
        }
        &--2 { 
            animation: fadeInRight;
            animation-fill-mode: forwards;
            animation-duration: 2s;
            top: 0;
            right: 0;
            animation-delay: 2s; 
        }
        &--3 { 
            animation: fadeInLeft;
            animation-fill-mode: forwards;
            animation-duration: 2s;
            bottom: 0;
            left: 0;
            animation-delay: 3s;
        }
    }

    &__footer {
        display: flex;
        justify-content: center;
        height: 100px;
    }

    &__cta {
        cursor: pointer;
        width: 175px;
        bottom: 0;
        
        &--container {
            max-width: 500px;
            display: flex;
            justify-content: center;
        }
    }

    &__arrow {
        width: 175px;
        height: 100px;
        bottom: 0;
        position: absolute;
        cursor: pointer;
        transition: all 0.5s ease;
    }

    &__logo {
        position: absolute;
        right: 25px;
        bottom: 25px;
        height: 35px;
    }


}

.jumbo {
    padding: 20px 0;
    display: flex;
    justify-content: center;
    border-bottom: 3px solid grey;
    &__subtext {
        font-style: italic;
        font-weight: 800;
        padding: 0px 125px;
    }
}

.featurette {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    border-bottom: 3px solid grey;
    padding-bottom: 20px;

    @media screen and (max-width: 568px) {
        grid-template-columns: 1fr;
    }

    &__item {
        font-size: 2em;
        font-style: italic;
        padding: 40px;
        color: #404040;
        text-align: center;
        img {
            max-width: 100%;
        }
    }
    &__text {
        letter-spacing: 2px;
        margin-top: 20px;
    }
}

.banner {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    &__img {
        img {
            max-width: 100%;
        }
    }
    &__list {
        display: flex;
        flex-direction: column;
        justify-content: center;
        li {
            color: $color-dark-grey;
            font-size: 1.75em;
            font-style: italic;
            letter-spacing: 2px;
            margin-left: 50px;
            margin-bottom: 20px;
        }
    }
    &__button {
        display: flex;
        align-items: center;
        justify-content: center;
        div {
            padding: 40px 70px;
            color: $color-10-grey;
            background-color: $color-off-black;
            &:hover {
                transition: all 0.3s ease;
                color: white;
                cursor: pointer;
                background-color: lighten($color-off-black, 5%);
            }
        }
    }
}

.footer {
    margin-top: 20px;
    padding: 10px;
    background-color: #434244;
    &__item {
        color: $color-10-grey;
        margin: 30px 0;
        &:hover {
            cursor: pointer;
            color: white;
        }
    }
}