.navbar {
    // Bootstrap navbar
    @media screen and (min-width: $break-sm) {
        display: none;
    }
}

.foco-nav {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;

    @media screen and (max-width: $break-sm) {
        display: none;
    }

    border-bottom: 2px solid $color-50-grey;

    &__logo {
        display: flex;
        align-items: center;
        img {
            width: 130px;
        }
    }

    &__link-container {
        display: flex;
        align-items: center;
    }

    &__links {
        font-size: 1.1em;
        display: flex;
    }

    &__link {
        position: relative;
        padding: 10px 20px;
        font-weight: bold;
        transition: all 0.2s ease;
        cursor: pointer;
        &:hover {
            color: $color-50-grey;
        }
    }

    &__ball {
        display: none;
        position: absolute;
        top: 45;
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
        height: 13px;
        width: 13px;
        border-radius: 50%;
        background-color: $color-dark-grey;

        &.active {
            display: block;
        }
    }
}

.intro {
    text-align: center;
    height: 100vh;
    padding: 20px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &__inner {
        position: relative;
        @media screen and (max-width: $break-md) {
            width: 80%;
        }
        @media screen and (max-width: $break-sm) {
            width: 100%;
        }
    }

    &__subtitle {
        margin-top: 50px;
        padding: 0 10px;
        font-weight: 800;
        font-style: italic;
    }

    &__image {
        opacity: 0;
        animation: fadeIn;
        max-width: 800px;
        max-height: 800px;
        animation-fill-mode: forwards;
        animation-delay: 1s;
        animation-duration: 3s;
        @media screen and (max-width: $break-md) {
            max-width: 500px;
            max-height: 500px;
        }
        @media screen and (max-width: $break-sm) {
            max-width: 400px;
            max-height: 400px;
            margin-left: -20px;
        }
    }

    &__quote {
        opacity: 0;
        font-size: 1.2em;
        font-weight: bold;
        font-style: italic;
        position: absolute;
        text-align: left;
        z-index: 100;

        @media screen and (max-width: $break-sm) {
            font-size: 0.8em;
        }

        $quote-duration: 5s;

        // Instances of Quotes
        &--1 { 
            animation: fadeInLeft;
            // animation-fill-mode: forwards;
            animation-duration: $quote-duration;
            top: 0;
            left: 0;
            animation-delay: 2s;
            @media screen and (max-width: $break-sm) {
                top: -120;
            }

        }
        &--2 { 
            animation: fadeInRight;
            // animation-fill-mode: forwards;
            animation-duration: $quote-duration;
            top: 0;
            right: 0;
            animation-delay: 3s;
            @media screen and (max-width: $break-md) {
                top: -100;
            }
            @media screen and (max-width: $break-sm) {
                top: -70;
            }
        }
        &--3 { 
            animation: fadeInLeft;
            // animation-fill-mode: forwards;
            animation-duration: $quote-duration;
            bottom: 0;
            left: 0;
            animation-delay: 4s;
            @media screen and (max-width: $break-md) {
                bottom: -70;
            }
        }
    }

    &__footer {
        display: flex;
        justify-content: center;
        height: 100px;
    }

    &__cta {
        cursor: pointer;
        width: 175px;
        bottom: 0;
        
        &--container {
            max-width: 500px;
            display: flex;
            justify-content: center;
        }
    }

    &__arrow {
        width: 175px;
        height: 100px;
        bottom: 0;
        position: absolute;
        cursor: pointer;
        transition: all 0.5s ease;
        @media screen and (max-width: $break-sm) {
            width: 125px;
        }
        &--ready {
            animation: hovering 2s infinite;
        }
    }

    &__logo {
        position: absolute;
        right: 25px;
        bottom: 25px;
        height: 35px;
        @media screen and (max-width: $break-sm) {
            right: 10;
            bottom: 10;
            height: 20px;
        }
    }


}

.foco-bar {
    border-top: 2px solid $color-50-grey;
    margin: 10px 0;
}

.foco-subtitle {
    font-style: italic;
    h1 { margin: 0; font-weight: 800; }
}

.foco-jumbo {
    width: 100%;
    height: 300px;
    &__image {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 100%;
        img {
            max-height: 100%;
        }
    }
    &__construction {
        position: absolute;
        height: 50px;
    }
    @media screen and (max-width: $break-md) {
        padding: 40px;
    }
}

.foco-featurette {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding-bottom: 20px;

    @media screen and (max-width: $break-sm) {
        grid-template-columns: 1fr;
    }

    &__item {
        font-size: 2em;
        font-style: italic;
        padding: 40px;
        color: #404040;
        text-align: center;
        img {
            max-width: 100%;
        }
    }
    &__text {
        letter-spacing: 2px;
        margin-top: 20px;
    }
}

.banner {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 40px 20px;

    &__img {
        img {
            max-width: 100%;
        }
    }
    &__list {
        display: flex;
        flex-direction: column;
        justify-content: center;
        li {
            color: $color-dark-grey;
            font-size: 1.75em;
            font-style: italic;
            letter-spacing: 2px;
            margin-left: 50px;
            margin-bottom: 20px;
        }
    }
    &__button {
        display: flex;
        align-items: center;
        justify-content: center;
        div {
            padding: 40px 70px;
            color: $color-10-grey;
            background-color: $color-off-black;
            &:hover {
                transition: all 0.3s ease;
                color: white;
                cursor: pointer;
                background-color: lighten($color-off-black, 5%);
            }
        }
    }

    @media screen and (max-width: $break-md) {
        grid-template-columns: 1fr;
        &__img {
            text-align: center;
            img {
                max-height: 400px;
            }
        }
        &__list {
            padding: 0;
            li {
                margin: 20px auto;
                list-style: none;
            }
        }
        &__button {
            margin: 40px 0;
        }
    }
}

.mailchimp {
    position: relative;
    width: 400px;
    margin: 10px auto;

    &__container {
        margin: 60px 0;
    }
    
    &__title {
        text-align: center;
        font-weight: 800;
        letter-spacing: 2px;
        font-size: 1.5em;
        font-style: italic;
    }

    &__input {
        outline: none;
        padding: 10px 135px 10px 15px;
        width: 400px;
        border-radius: 5px;
        border: 2px solid grey;

        $p-color: grey;
        $p-font-weight: 800;
        $p-letter-spacing: 2px;

        &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
            color: $p-color;
            font-weight: $p-font-weight;
            letter-spacing: $p-letter-spacing;
        }
        &::-moz-placeholder { /* Firefox 19+ */
            color: $p-color;
            font-weight: $p-font-weight;
        }
        &:-ms-input-placeholder { /* IE 10+ */
            color: $p-color;
            font-weight: $p-font-weight;
        }
        &:-moz-placeholder { /* Firefox 18- */
            color: $p-color;
            font-weight: $p-font-weight;
        }
    }
    &__button {
        position: absolute;
        font-size: 0.9em;
        top: 8;
        right: 10;
        background-color:#B42737;
        border: none;
        color: white;
        font-weight: bold;
        padding: 5px 10px;
        border-radius: 5px;
        outline: none;
        &:hover {
            background-color: lighten(#B42737, 5%);
        }
    }

    @media screen and (max-width: $break-sm) {
        width: 100%;

        &__input {
            padding: 10px;
            margin-bottom: 10px;
            width: 100%;
        }

        &__button {
            position: static;
            font-size: 1em;
            width: 100%;
        }
    }
}

.footer {
    width: 100%;
    margin-top: 20px;
    padding: 15px;
    background-color: #434244;
    &__item {
        color: $color-10-grey;
        margin: 30px 0;
        &:hover {
            cursor: pointer;
            color: white;
        }
        &.no-hover {
            cursor: default;
        }
    }
}

.foco-accordion {
    h2 {
        font-weight: 800;
        font-style: italic;
    }
    &__title {
        cursor: pointer;
    }
    &__icon {
        width: 12px;
        margin-top: -5px;
    }
    &__card {
        border: 1px solid $color-50-grey;
        padding: 20px;
        border-radius: 2px;
        text-align: center;
        h2 {
            font-weight: 800;
            font-style: italic;
            margin: 0;
            margin-bottom: 20px;
        }
        &:not(:last-child) {
            margin-bottom: 20px;
        }
        img {
            width: 300px;
        }
    }
}

.foco-text {
    margin-top: 30px;
    margin-bottom: 80px;
}

.foco-legal {
    h3 {
        margin-top: 40px;
    }
}

.foco-separator {
    border-bottom: 2px solid $color-50-grey;
}